* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: var(--dark-color);
}


:root {
    --dark-color: #001931;
    --light-color: #A1A1AA;
    --view-hover-color: #ebdbecdb;
}


/* Navbar Design */

.navbar {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 78px;
}

.navbar .logo1 h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #001931;
}

.gradient-color {
    background: linear-gradient(to bottom, #632EE3, #9F62F2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navbar ul {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 14px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 152%;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #9F62F2;
}

.navbar ul li .active {
    color: #9F62F2;
    font-weight: bold;
    transition: 0.3s;
}

.active:hover {
    color: #632EE3;
}

.navbar .logo2 {
    width: 50px;
    border-radius: 30px;
    margin-top: 7px;
}

.hero {
    /* border: 2px solid red; */
    margin: 100px auto;
}

.hero h1 {
    font-size: 72px;
    line-height: 84px;
    width: 689px;
    margin: 0px auto 20px;
    color: var(--dark-color);
}

.hero p {
    font-size: 22px;
    line-height: 30px;
    margin: 0px auto 32px;
    text-align: center;
    color: var(--light-color);
}

.search-container {
    margin: 0px auto 40px;
    display: flex;
    align-items: center;
    width: 550px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20);
    /* Figma-র Drop Shadow */
}

.search-container input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 14px;
    color: #333;
}

.search-btn {
    background-color: #8A70D6;
    border: none;
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
}

.search-btn:hover {
    background-color: #765bbd;
}

.button {
    text-align: center;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 6px;
    padding: 18px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.fill-button {
    cursor: pointer;
    background: linear-gradient(to bottom, #632EE3, #9F62F2);
    color: white;
}

.unfill-button {
    cursor: pointer;
    border: 1px solid #9F62F2;
    padding: 16px;
    color: #6634db;
}

.product-container h1 {
    font-size: 48px;
    text-align: center;
    margin: 80px auto 40px;
}

.card-container {
    /* border: 2px solid red; */
    padding: 16px;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    margin: 12px;
}

.card img {
    width: 432px;
    height: 310px;
    /* border: 2px solid black; */
    border-radius: 8px;
    margin-bottom: 16px;
}

.card .card-text {
    margin-bottom: 16px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .card-text h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 8px;
    width: 420px;
}

.card .card-text p {
    font-size: 20px;
    font-weight: 600;
}

.card button {
    padding: 14px;
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    border-radius: 8px;
}

.product-btn {
    padding: 16px 39px;
    cursor: pointer;
}

.button-product {
    margin: 40px auto 80px;
}

footer {
    background-color: var(--dark-color);
}

.footer-container {
    /* border: 2px solid red; */
    padding: 80px 80px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-content {
    /* border: 2px solid rgb(50, 60, 207); */
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.footer1 {
    width: 350px;
}

.footer-content .footer1 h3 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 32px;
}

.footer-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light-color);
}

footer h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

footer ul {
    list-style: none;
    line-height: 28px;
}

footer a {
    text-decoration: none;
    color: var(--light-color);
}

.copyright {
    border-top: 1px solid gray;
    width: 1440px;
    margin: 0px auto;
    color: white;
    text-align: center;
    padding-top: 23px;
    margin-top: 80px;
    padding-bottom: 30px;
}

.hover{
    cursor: pointer;
}

.view-effect{
    transition: 0.3s;
}

.view-effect:hover{
    background-color: var(--view-hover-color);
    color: #9F62F2;
}

.button-hover-effect {
    transition: 3s ease-in-out;
}

.button-hover-effect:hover {
    background: linear-gradient(to bottom, #642ee3e2, #9e62f2e6);
}

a{
    text-decoration: none;
    color: white;
}

.color-white{
    color: #9F62F2;
}